:root {
  --primary-text-color: #212121;
  --main-text-color: #ffffff;
  --secondary-text-color: #757575;
  --aditional-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --specific-text-color: #000000;
  --secondary-background-color: #2f303a;
  --background-extra-color: #f5f4fa;
}

/* body html*/
body {
  background-color: var(--main-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

/*container*/

.container {
  width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

/*header*/
/* logo  */

.logo {
  color: var(--specific-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

/* nav menu */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--aditional-color);
}

.link {
  text-decoration: none;
}

/*contacts*/

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.1;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--aditional-color);
}

.body-studio {
  font-size: 14px;
  line-height: 1.7;
}

/*  main content*/

.prime-section {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.prime-title {
  color: var(--main-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}
.prime-button {
  color: var(--main-text-color);
  font-family: inherit;
  background-color: var(--aditional-color);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 30px;
  padding: 10 32;
}
.prime-button:active,
.prime-btn:hover,
.prime-btn:focus {
  background-color: var(--aditional-color);
  color: var(--main-text-color);
}
.button {
  cuorsor: pointer;
}

/*section features*/
/*title2*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-description {
  width: 270px;
}

.features-list {
  display: flex;
}
.features-text {
  margin-top: 10px;
}

/*what we are doing*/

.title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.image-list {
  display: flex;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-list .image-card:not(:last-child) {
  margin-right: 30px;
}

.image-card {
  margin-top: 50px;
}

/*title3*/

.sub-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
}
/*p*/
.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
/* section What we are doing*/

/* section team*/
.Team {
  background-color: var(--background-extra-color);
}
.team-list {
  display: flex;
}
.team-list .team-description:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  background-color: var(--main-text-color);
}

.item-teammate {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.item-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}

/* footer */
.footer {
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}
.light-text {
  color: var(--main-text-color);
}

.footer-link {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer-link:hover,
.footer-linkt:focus {
  color: var(--aditional-color);
}

/* body portfolio*/
/*   Filters   */

.filters-button {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.filters-button .filters-btn:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  display: block;

  color: var(--primary-text-color);
  background-color: var(--background-extra-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;

  border-color: transparent;
  border-radius: 4px;
  padding: 6 22;
}

.secondary-button:active,
.secondary-button:hover,
.secondary-button:focus {
  color: var(--main-text-color);
  background-color: var(--aditional-color);
}

/*   projects    */

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item .project-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
}

.project-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  margin-top: 4px;
}
.project-text {
  margin: 20 24;
}
/*extra styles*/

.title-hidden {
  visibility: hidden;
}
.blue-text {
  color: var(--aditional-color);
}
